* {
    margin: 0%;
    padding: 0%;
}

body {
    width: 100%;
    overflow: hidden;
    background-color: black;
}
#cont{
    width: 1000px;
    height: 550px;
    position: relative;
    margin: 40px auto;
    border: 2px solid white;
    background: url("images/background.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    overflow: hidden;
    z-index: 1;
}
#GAME {
    width: 1000px;
    height: 550px;
    position: relative;
    border: 2px solid black;
    background: url("images/GAME.png");
    background-size: 1000px 550px;
    background-repeat: no-repeat;
    overflow: hidden;
}

#play {
    height: 60rem;
    width: 98rem;
    position: absolute;
    background-image: url("images/start.png");
    background-repeat: no-repeat;
    background-size: 710px 530px;
    z-index: 2;
}

#player {
    width: 406px;
    height: 394px;
    position: absolute;
    background-image: url(images/main.png);
    background-repeat: no-repeat;
    background-size: 643px 400px;
    background-position: -251px 7px;
    left: 593px;
    bottom: -50px;
    transition: 0.5s;
    z-index: 3;
}

#player:hover{
    animation: hover 1s linear infinite;
}
.hove{
    animation: hover 1s linear infinite;
}

@keyframes hover{
    0%{ background-image: url(images/yoo3.png); }
    20%{ background-image: url(images/main.png);}
    40%{ background-image: url(images/yoo3.png); transform: skewX(5deg);}
    60%{ background-image: url(images/yoo5.1.png); transform: skewX(-5deg);}
    80%{ background-image: url(images/yoo3.png); transform: skewX(5deg);}
    100%{ background-image: url(images/main.png);}
}

.webs{
    height: 10px;
    width: 30px;
    background-color: aliceblue;
    position: absolute;
    z-index: 10;
    border-radius: 1rem;
    transition: 0.5s;
}

.yoo1{
    animation: yoo1 1s linear infinite;
}

@keyframes yoo1{
    0%{ background-image: url(images/yoo1.png); }
   100%{ background-image: url(images/yoo1.png);}
}

.yoo2{
    animation: yoo2 1s linear infinite;
}
@keyframes yoo2{
    0%{  background-image: url(images/yoo5.1.png);}
    10%{  background-image: url(images/yoo5.2.png);}
    90%{  background-image: url(images/yoo5.2.png);}
    100%{  background-image: url(images/yoo5.1.png);}
}

.one{
    height: 120px;
    width: 700px;
    position: relative;
    display: inline-flex;
    left: 0rem;
    bottom: -80px;
    transition: 0.5s;    
}

@keyframes webfortarget1 {
    0%{bottom: 250px; left: 700px;}
    10%{bottom: 250px; left: 550px;}
    20%{bottom: 400px; left: 550px;}
    100%{bottom:400px; left: -100px; }
}

.two{
    height: 120px;
    width: 700px;
    position: relative;
    display: inline-flex;
    left: 0rem;
    bottom: -80px;
    transition: 0.5s;    
}

@keyframes webfortarget2 {
    0%{bottom: 130px; left: 680px;}
    10%{bottom: 130px; left: 600px;}
    20%{bottom: 270px; left: 600px;}
    100%{bottom: 270px; left: -100px; }
}

#raju{
    height: 120px;
    width: 130px;
    position: absolute;
    left: 700px;
    bottom: 240px;
    background-image: url(images/raju.png);
    background-repeat: no-repeat;
    background-size: 130px 100px;
    animation: dance 0.8s linear infinite;
    transition: 0.5s;
    z-index: -1;
}

@keyframes dance{
    0%{bottom: 240px; left: 580px;}
    20%{transform: skewx(-10deg); bottom: 240px; left: 580px;}
    50%{ transform: skewy(-5deg); bottom: 320px; left: 580px;}
    80%{transform: skewx(10deg);  bottom: 240px; left: 580px;}
    100%{bottom: 240px; left: 580px;}
}
@keyframes killed{
    0%{ left: 580px;}
    100%{ left: 1200px;}
}

.zoms{
    height: 170px;
    width: 180px;
    position: absolute;
    left: -200px;
    bottom: 280px;
    background-image: url(images/zombie.gif);
    background-size: contain;
    background-repeat: no-repeat;
    animation: walk 6s linear infinite 1s;
    transition: 0.5s;
    z-index: -1;
}
.zombs{
    height: 170px;
    width: 200px;
    position: absolute;
    left: -200px;
    bottom: 150px;
    background-image: url(images/zom2.png);
    background-size: 200px;
    background-repeat: no-repeat;
    animation: walk 5s linear infinite 3s;
    transition: 0.5s;
    z-index: -1;
}

@keyframes walk {
    0%{ left: -100px;}
    100%{ left: 1200px;}  
}

.hide {
    display: none;
}
